
<div class="form-gorp">
    <label class="control-label col-md-2">檔案上傳</label>
    <div class="col-md-10">
        <div>
            @Html.TextBox("image", null, new { type = "file" })
            
        </div>
    </div>
</div>